@import '~antd/dist/antd.css';
.max-height {
    height: 100%;
}

.layout-logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.layout-header {
    background-color: #ffffff;
}

.layout-header .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.layout-header .trigger:hover {
    color: #1890ff;
}

.layout-content {
    background: #fff;
}